
@{

    if (Session["userInfo"] == null)
    {

        Session["userInfo"] = new LBOM.DataEntity.LoginUserInfoDataEntity();

    }

    var uif = Session["userInfo"] as LBOM.DataEntity.LoginUserInfoDataEntity;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 超美味 訂餐系統</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/easyUI")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/easyUI")
    @Scripts.Render("~/bundles/jsLibrary")

    @*@WebReportGlobals.ScriptsWOjQuery()
    @WebReportGlobals.StylesWOjQuery()*@



</head>

<body id="bdy" class="center body-content">


    <div id="ly" class="easyui-layout" data-options="fit:true" style="height:640px;">
        <div data-options="region:'north',title:'',split:false" style="height:60px;">
            <div style="float:left;"><img src="~/Content/images/eat_with.jpg" style="width:128px;height:53px;" /></div>
            <div style="float:right">
                <ul class="nav navbar-nav">
                    <li><p class="navbar-text" style="color:red;font-size:medium;">HI! @uif.loginuserName</p></li>
                    <li><p class="navbar-text" style="color:blue;font-size:medium;">@Html.ActionLink("[登出系統]", "Logout", "Home")</p></li>
                </ul>

            </div>
        </div>
        <div data-options="region:'south',title:'',split:false" style="height:20px;">
            <footer>
                <p><span class="glyphicon-copyright-mark"></span>  @DateTime.Now.Year -Powered by Stan.Chung </p>
            </footer>
        </div>

        <div data-options="region:'west',title:'功能選單',split:false" style="width:200px;font-size:medium;">
            <ul id="tt"></ul>
        </div>

        <div id="contCenter" data-options="region:'center',noheader:true" style="padding:0px;overflow:hidden;border:none;">
            <div id="tabs" class="easyui-tabs" data-options="fit:true" style="width:auto;height:640px;overflow:scroll;">
                <div title="Home" data-options="closable:false,iconCls:'icon-home'">
                    <h2>請選擇作業功能</h2>
                </div>
            </div>

        </div>
    </div>
    <input id="nowLogin" type="hidden" value="@uif.loginuserID" />

    <script src="~/Scripts/View/Home/index.js"></script>


</body>
</html>







